/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {           
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 70%;
}

h1 {
    font-size: 2.5vw;
}
h2 {
    font-size: 28px;
    text-align: center;
    background-color:rgba(6, 183, 243, 0.936);
    width: 100%;
    color:#fff;
    padding: 10px 0px 10px 0px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}
p {
    font-size: 1vw;
    margin: 7px;

}


.titulo {           
    margin: 0 auto;
    display: flex;
    background-color: rgba(12, 112, 170, 0.584);;

}
.subtitulo{
    margin: 0 auto;            
    background-color: #21a525;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    border-radius: 6px;
    padding: 10px;
}
#valor_prediccion{
    margin-top: 30px;
    width: 100%;
    border: #333;
    height: 50px;
    color: #000000;
    font-size: 48px;
    text-align: center;
    font-weight: bold;

}
#logo{
    max-width: 400px;
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
    padding-top: 20px;
    height: 90%;

}


#graficos{
    width: 100%;
    height: auto;
    float:left;

}
.titulo_grafica{
    width: 50%;
    height: 20px;
    float:left; 
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: .9vw;
    
    
}
#grafica_1{
    width: 48%;
    height: 150px;
    float:left;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
}
#grafica_2{
    width: 48%;
    height: 300px;
    float:left;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
}
#grafica_3{
    width: 48%;
    height: 300px;
    margin-left: 10px;
    float:left;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
}
#grafica_5{
    width: 48%;
    height: 150px;
    float:left;
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    
}
#container{
    width: 95%;
    height: 800px;
    margin-left: 3%;
}
.container_left {
    width: 50%;
    height: auto;
    margin: 0 auto;     
    float: left;
}
.container_right {
    width: 45%;
    height: auto;
    margin: 0 auto;     
    float: left;
    margin-left: 5%;
}
#formulario{
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
    float:left;          

}             
#prediccion{
    max-width: 200px;            
    height: 600px;
    width: 20%;
    margin: 0 auto;
    float:left;
}
#describe_modelo{
    width: 100%;
    height: auto;
    float:left;
    margin-bottom:15px ;
    font-size: 1vw;          

}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    float:left;
    width: 100%;
    margin-top: 10px;
}

form{
    width:80%;
    padding:16px;
    border-radius:10px;
    margin:auto;
    
}
.label_form{
    width: 100%;
    font-weight: bold;
    font-size: 1.1vw;
    margin-left: -5%;
    margin-top: 3%;
    margin-bottom: 2%;
    height: 20px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    

}
form label{
    width:40%;
    
    display:inline-block;
    color: #5a5858;
    font-size: .9vw;
}

form input[type="text"],
form input[type="number"],
form select{
    width:180px;
    padding:3px 5px;
    border:1px solid #e1e0e0;
    border-radius:3px;
    background-color:#ffffff;
    margin:3px 0;
    display:inline-block;
}

form input[type="submit"]{
    font-size: 1.2vw;
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:0px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#00559b;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
} 

form input[type="submit"]:hover{
    cursor:pointer;
    background-color:#2499dc;
    font-weight: bold;
}
form input[type="number"]:hover{
    width: 182px;
    border:1px solid #dddcdc;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  
}

textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;			
    margin:8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize:none;
    display:block;
}